name: "Production Deployment"
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_wrapper: false # Recommended for cleaner script output
      
      - name: Terraform Init
        run: terraform init

      - name: Terraform Apply
        # With TFC 'Auto-apply' enabled in the UI, this triggers the deploy immediately
        run: terraform apply -auto-approve